
TeX/Document.log

TeX/Document.aux

TeX/Document.out

TeX/.DS_Store

Papers (backup)/.DS_Store

ARM/Simple-Semantic-NOPS/.DS_Store

ARM/.Mul.s.swp

X86/Simple-Semantic-NOPS/.DS_Store

ARM/.DS_Store

.DS_Store

TeX/Proposal.aux

*.log

*.aux

*.DS_Store

*.swp

